.movie-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 한 행에 10개의 열로 고정 */
  grid-auto-rows: min-content; /* 각 행의 높이를 콘텐츠에 맞춤 */
  gap: 16px;
  height: 100vh; /* 화면 높이에 맞춤 */
  overflow-y: auto; /* 세로 스크롤 가능 */
}

.movie-item {
  position: relative;
  text-align: center;
}

.movie-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.movie-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* 검정색 배경에 투명도 적용 */
  border-radius: 8px; /* 이미지와 같은 border-radius 적용 */
  opacity: 0; /* 기본 상태에서 보이지 않게 설정 */
  /*transition: opacity 0.3s ease-in-out;*/ /* 오버레이가 부드럽게 나타나도록 설정 */
}

.movie-item:hover .overlay {
  opacity: 1; /* hover 시 오버레이가 보이도록 설정 */
}
